{% extends 'pages/teacher/sub_see.html' %}
{% load static %}
{% load res_filter %}
{% block style %}
<style type="text/css">
  
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffdc1100;
        z-index: 999999;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
ul.progress-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

li.section {
    display: inline-block;
    padding-top: 45px;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    color: gray;
    vertical-align: top;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.section:before {
    content: 'x';
    position: absolute;
    top: 2px;
    left: calc(50% - 15px);
    z-index: 1;
    width: 30px;
    height: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 17px;
    line-height: 30px;
    background: gray;
}
.status-bar {
    height: 2px;
    background: gray;
    position: relative;
    top: 20px;
    margin: 0 auto;
}
.current-status {
    height: 2px;
    width: 0;
    border-radius: 1px;
    background: mediumseagreen;
}

@keyframes changeBackground {
    from {background: gray}
    to {background: mediumseagreen}
}

li.section.visited:before {
    content: '\2714';
    animation: changeBackground .5s linear;
    animation-fill-mode: forwards;
}

li.section.visited.current:before {
    box-shadow: 0 0 0 2px mediumseagreen;
}
</style>
{% endblock %}
{% block tc_body %}
<br>

{% if final_scores|length < 2 %}
    <div style="display: flex; justify-content: left">
        <a href="{% url 'ad_panel:submitted_grades_self_add' gr_sub.subject.name gr_sub.grade.id 1 %}" class="btn btn-success btn-icon-text">
            <i class="mdi mdi-library-plus"></i>                                                    
            Add 1st semister 1st 50% score
        </a>
    </div>
{% elif t == '1' %}
    <div style="display: flex; justify-content: left">
        <a href="{% url 'ad_panel:submitted_grades_self_add' gr_sub.subject.name gr_sub.grade.id 2 %}" class="btn btn-success btn-icon-text">
            <i class="mdi mdi-library-plus"></i>                                                    
            Add 1st semister 2nd 50% score
        </a>
    </div>
{% elif t == '2' %}
    <div style="display: flex; justify-content: left">
        <a href="{% url 'ad_panel:submitted_grades_self_add' gr_sub.subject.name gr_sub.grade.id 3 %}" class="btn btn-success btn-icon-text">
            <i class="mdi mdi-library-plus"></i>                                                    
            Add 2nd semister 1st 50% score
        </a>
    </div>
{% elif t == '3' %}
    <div style="display: flex; justify-content: left">
        <a href="{% url 'ad_panel:submitted_grades_self_add' gr_sub.subject.name gr_sub.grade.id 4 %}" class="btn btn-success btn-icon-text">
            <i class="mdi mdi-library-plus"></i>                                                    
            Add 2nd semister 2nd 50% score
        </a>
    </div>
{% endif %}
<div class="table-responsive">
    <table id="submitted-result" class="display" >
        <thead>
            <tr>
                <th rowspan="2">Name</th>
                <th colspan="3">First Semister</th>
                <th colspan="3">Second Semister</th>
            </tr>
            <tr>
                <th>50%</th>
                <th>50%</th>
                <th>100</th>
                <th>50%</th>
                <th>50%</th>
                <th>100</th>
            </tr>
        </thead>
        <tbody>
            {% for stud in students %}
            <tr>
                <th>{{ stud.student.user.first_name }} {{ stud.student.user.last_name }}</th>
                <th>
                    {% if t == '1' or t == '2' or t == '3' or t == '4' %}
                        {% with final_scores|flt_res:stud.student.stud_id as first %}
                            {{ first.first_50 }} 
                        {% endwith %}   
                    {% else %}
                    -
                    {% endif %}
                </th>
                <th>
                    {% if t == '2' or t == '3' or t == '4' %}
                        {% with final_scores|flt_res:stud.student.stud_id as first %}
                            {{ first.second_50 }} 
                        {% endwith %} 
                    {% else %}
                    -
                    {% endif %}
                </th>
                <th>
                    {% if t == '2' or t == '3' or t == '4' %}
                        {% with final_scores|flt_res:stud.student.stud_id as first %}
                           <span style="color: #34B1AA"> {{ first|flt_add:first }} </span>
                        {% endwith %} 
                    {% else %}
                    -
                    {% endif %}
                </th>
                <th>
                    {% if t == '3' or t == '4' %}
                        {% with final_scores|flt_res:stud.student.stud_id as second %}
                            {{ second.third_50 }} 
                        {% endwith %} 
                    {% else %}
                    -
                    {% endif %}
                </th>
                <th>
                    {% if t == '4' %}
                        {% with final_scores|flt_res:stud.student.stud_id as second %}
                            {{ second.forth_50 }} 
                        {% endwith %} 
                    {% else %}
                    -
                    {% endif %}
                </th>
                <th>
                    -
                </th>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>50%</th>
                <th>50%</th>
                <th>100</th>
                <th>50%</th>
                <th>50%</th>
                <th>100</th>
            </tr>
        </tfoot>
    </table>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#submitted-result').DataTable({
            "paging": false,
        });
    } );
</script>
{% endblock %}

