{% extends 'admin_base.html' %}
{% load static %}
{% block style %}
<style type="text/css">
  
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffdc1100;
        z-index: 999999;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
ul.progress-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

li.section {
    display: inline-block;
    padding-top: 45px;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    color: gray;
    vertical-align: top;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.section:before {
    content: 'x';
    position: absolute;
    top: 2px;
    left: calc(50% - 15px);
    z-index: 1;
    width: 30px;
    height: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 17px;
    line-height: 30px;
    background: gray;
}
.status-bar {
    height: 2px;
    background: gray;
    position: relative;
    top: 20px;
    margin: 0 auto;
}
.current-status {
    height: 2px;
    width: 0;
    border-radius: 1px;
    background: mediumseagreen;
}

@keyframes changeBackground {
    from {background: gray}
    to {background: mediumseagreen}
}

li.section.visited:before {
    content: '\2714';
    animation: changeBackground .5s linear;
    animation-fill-mode: forwards;
}

li.section.visited.current:before {
    box-shadow: 0 0 0 2px mediumseagreen;
}
</style>
{% endblock %}
{% block content %}
{% if yr != 'no' %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Filling Results</h4>
            <p class="card-description">
                Adding students result for "{{ result.description }}"
            </p><br>
            <div class="table-responsive">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Score (out of {{ result.out_of }})</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students.reverse %}
                    <tr>
                        <td>{{ student.student.user.first_name }} {{ student.student.user.last_name }}</td>
                        <td>{{ student.student.stud_id }}</td>
                        <td><input type="number" step="0.1" max="{{ result.out_of }}" id="{{ student.student.user.username }}" name="{{ student.student.user.username }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </tfoot>
            </table>
            </div>
            <br>
            <div style="display: flex; justify-content: center">
                {% csrf_token %}
                <button id="add_res" class="btn btn-primary me-2">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#example').DataTable({
            "paging": false,
            columnDefs: [{
                orderable: false,
                targets: [2]
            }]
        });
     
        $('#add_res').click( function() {
            
            var data = table.$('input, select').serialize();
            $.ajax({
                type:'POST',
                url:'add/',
                data:{
                    'data': data,
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                },
                beforeSend: function() {
                    $('#loader').show();
                },
                complete: function(){
                $('#loader').hide();
                },
                success:function(data){
                    if(data['stat'] == "success"){
                        window.location.href = '..';
                    }
                },
            }); 
            
            return false;
        } );
    } );
</script>
{% endblock %}



