{% extends 'admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<style type="text/css">
    ul.progress-bar {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 0;
        list-style: none;
    }
    
    li.section {
        display: inline-block;
        padding-top: 45px;
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        color: gray;
        vertical-align: top;
        position: relative;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    li.section:before {
        content: 'x';
        position: absolute;
        top: 2px;
        left: calc(50% - 15px);
        z-index: 1;
        width: 30px;
        height: 30px;
        color: white;
        border: 2px solid white;
        border-radius: 17px;
        line-height: 30px;
        background: gray;
    }
    .status-bar {
        height: 2px;
        background: gray;
        position: relative;
        top: 20px;
        margin: 0 auto;
    }
    .current-status {
        height: 2px;
        width: 0;
        border-radius: 1px;
        background: mediumseagreen;
    }
    
    @keyframes changeBackground {
        from {background: gray}
        to {background: mediumseagreen}
    }
    
    li.section.visited:before {
        content: '\2714';
        animation: changeBackground .5s linear;
        animation-fill-mode: forwards;
    }
    
    li.section.visited.current:before {
        box-shadow: 0 0 0 2px mediumseagreen;
    }
</style>
{% endblock %}
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div style="text-align: center">
                    <h3 class="card-title">Academic Year Setup</h3>
                </div>
            </div>
        
        <div class="setup-progress-wrapper"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Academic Year</h4>
            <p class="card-description">
                year setup
            </p>
            <form action="" method="post" class="forms-sample">
                {{ form|crispy }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary me-2" value="Next">
            </form>
            </div>
        </div>
    </div>
</div>
    <div class="col-md-2"></div>    
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    ProgressBar.singleStepAnimation = 500;
    ProgressBar.init(
      [ 'Year Setup',
        'Grade Setup',
        'Adding Subjects',
        'Adding Students',
      ],
      'Year Setup',
      'setup-progress-wrapper' // created this optional parameter for container name (otherwise default container created)
    );
</script>
{% endblock %}