{% extends 'admin_base.html' %}
{% load static %}
{% block style %}
<style type="text/css">
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 10px; /* e.g. change 8x to 4px here */
}
.dataTables_wrapper .dataTable .btn{
  padding: inherit;
}
.dataTables_wrapper .dataTables_filter input{
  border: 1px solid #dee2e6;
  font-weight: 400;
  font-size: 0.875rem;
  border-radius: 4px;
  height: 2rem;
}

.dataTables_wrapper .dataTable .btn i{
  margin: inherit;
}

.dataTables_wrapper label{
  font-size: 1rem
}
</style>
{% endblock %}
{% block content %}
{% if yr != 'no' %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
            <div>
                <h4 class="card-title">List of Parents</h4>
                <div class="badge badge-success">Total of </div>
            </div>
            <div>
                <a class="btn btn-success btn-md text-white mb-0 me-0" href="{% url 'ad_panel:admin_parent_add' %}"><i class="mdi mdi-account-plus"></i>Add new parent</a>
            </div>
        </div>
      <br><br>
      <div class="table-responsive">
        <table id="parent-tbl" class="display" style="width:100%">
          <thead>
            <tr>
              <th>
                Full Name
              </th>
              <th> 
                # Students Linked
              </th>
              <th>
                Relation Ship
              </th>
              <th>
                Phone #
              </th>
              <th>
                Address
              </th>
              <th>
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            {% for parent in parents %}
              <tr>  
                <td>
                  <h6 style="color:#6e6d6d">{{ parent.user.first_name }} {{ parent.user.last_name }}</h6>
                </td>
                <td>
                  <h6 style="color:#6e6d6d">{{ parent.students.all.count }}</h6>
                </td>
                <td>
                  <h6 style="color:#6e6d6d">{{ parent.relation_ship }}</h6>
                </td>
                
                <td>
                  <h6 style="color:#6e6d6d">{{ parent.phone }}</h6>
                </td>
                <td>
                  <h6 style="color:#6e6d6d">{{ parent.address }}</h6>
                </td>
                <td>
                  <a class="btn btn-outline-info btn-icon-text" href="#">
                    Profile
                    <i class="ti-file btn-icon-append"></i>                          
                  </a>
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <br><br>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
      $('#parent-tbl').DataTable();
  });
</script>
{% endblock %}
